@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-slate-850: #141c2a;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-lg border border-white/10 shadow-xl;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .transform-style-3d {
    transform-style: preserve-3d;
  }
}

@media (min-width: 768px) {
  * {
    cursor: none !important;
  }
}
