@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --color-slate-850: #141c2a;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-lg border border-white/10 shadow-xl;
  }
}
